#chart {
			width: 720px;
			height: 580px;
			background: #bbb;
			margin: 1px auto;
			position: relative;
			-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
					box-sizing: border-box;
		}

		text {
			pointer-events: none;
		}

		.grandparent text { /* header text */
			font-weight: bold;
			font-size: medium;
			font-family: "Open Sans", Helvetica, Arial, sans-serif; 
		}

		rect {
			fill: none;
			stroke: #fff;
		}

		rect.parent,
		.grandparent rect {
			stroke-width: 2px;
		}

		.grandparent rect {
			fill: #fff;
		}

		.children rect.parent,
		.grandparent rect {
			cursor: pointer;
		}

		rect.parent {
			pointer-events: all; 
		}

		.children:hover rect.child,
		.grandparent:hover rect {
			fill: #bababa;
		}

		.textdiv { /* text in the boxes */
			font-size: 0.95em;
			text-overflow: ellipsis;
			padding: 1px;
			font-family: "Open Sans", Helvetica, Arial, sans-serif; 
			text-transform: capitalize;
			font-weight: bold;
		}