<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="thirdeye-search-web">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="thirdeye-search-api-0.0.13-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/thirdeye-search-api/thirdeye-search-api">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="thirdeye-persistence-core-0.0.13-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/thirdeye-persistence-core/thirdeye-persistence-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="thirdeye-common-utils-0.0.13-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/thirdeye-common-utils/thirdeye-common-utils">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/thirdeye-search-web/target/classes"/>
        <property name="context-root" value="thirdeye-search-web"/>
    </wb-module>
</project-modules>
